<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - GameTime</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/css/skin-green.min.css">
</head>
<body class="layout-top-nav skin-green">
<div class="wrapper">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><b>Game</b>Times</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    {% if user %}
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="/create-post">Add post</a>
                        </li>
                    </ul>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        {% block profile %}

                        {% endblock %}
                    </ul>
                    <form class="navbar-form navbar-right" role="search" action="/search-posts" method="get">
                        <div class="input-group">
                            <input name="query" type="text" class="form-control" id="navbar-search-input" placeholder="Search">
                            <span class="input-group-btn">
                                <button type="submit" id="send-btn" class="btn bg-info btn-flat">Search</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="content-wrapper">
        <div class="container">
            <section class="content-header">
                <h1>

                    <small></small>
                </h1>
            </section>

            <section class="content">
                <div class="col-sm-9">
                {% block content %}{% endblock %}
                </div>

                <div class="col-sm-3">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Categories</h3>
                        </div>
                        <div class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                {% block categories %}
                                    {% for category in categories %}
                                    <li>
                                        <a href="/search-posts?categoryId={{ category.id }}">
                                            {{ category.name }}
                                            <span class="label label-success pull-right">{{ category.postsCount }}</span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                {% endblock %}
                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /. box -->
                </div>
            </section>
        </div>
    </div>
    <footer class="main-footer">
        <div class="container">
            <strong>Copyright &copy; 2016 SE-14-4</strong>
        </div>
    </footer>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/app.min.js"></script>
</body>
</html>