{% extends "_layout.html" %}

{% block title %}
Main page
{% endblock %}

{% block profile %}
{% if user %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ user.name }}! <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/users/{{ user.id }}">Profile</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Log out</a></li>
    </ul>
</li>
{% else %}
<li><a href="/register">Register</a></li>
<li><a href="/login">Login</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">New article</h3>
        <div class="box-tools pull-right">

        </div>
    </div>
    <form action="/create-post" method="post">
        <div class="box-body">
            <script src="/scripts/ckeditor/ckeditor.js" type="text/javascript"></script>
                <div class="form-group">
                    <label for="title-input">Title</label>
                    <input name="title" id="title-input" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="category-select">Category</label>
                    <select name="categoryId" id="category-select" class="form-control">
                        {% for category in categories %}
                        <option value="{{ category.id }} "> {{ category.name }} </option>
                        {% endfor %}
                    </select>
                </div>

                <textarea name="text" id="post-text-input"></textarea>

            <script>
                CKEDITOR.replace('post-text-input');
            </script>
        </div>
        <div class="box-footer">
            <button class="btn btn-block btn-success">Create</button>
        </div>
    </form>
</div>
{% endblock %}