<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - GameTime</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/css/skin-green.min.css">
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        <a href="/"><b>Game</b>Times</a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form action="/login" method="post">
            <ul>
                {% for error in errors %}
                <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
            <div class="form-group has-feedback">
                <input type="email" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <a href="/register" class="text-center">Register a new membership</a>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>