{% extends "_layout.html" %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block profile %}
{% if user %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ user.name }}! <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/users/{{ user.id }}">Profile</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Log out</a></li>
    </ul>
</li>
{% else %}
<li><a href="/register">Register</a></li>
<li><a href="/login">Login</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><b>{{ post.category.name }}</b> -> <a href="/posts/{{ post.id }}">{{ post.title}}</a></h3>
        <div class="box-tools pull-right">

        </div>
    </div>
    <div class="box-body">
        {{ post.text | raw }}
        <span class="pull-left text-muted">
            <a href="/users/{{ post.user.id }}">{{ post.user.name }}</a> at {{ post.date }}
        </span>
    </div>
    <div class="box-footer box-comments">
        {% for comment in comments %}
        <div class="box-comment">
            <img class="img-circle img-sm" src="http://placehold.it/128x128" alt="User Image">

            <div class="comment-text">
                <span class="username">
                    <a href="/users/{{ comment.user.id }}">{{ comment.user.name }}</a>
                    <span class="text-muted pull-right">{{ comment.date }}</span>
                </span>
                {{ comment.text }}
            </div>
        </div>
        {% endfor %}
        {% if user %}
            <form action="/comments" method="post">
                <input type="text" name="postId" value="{{ post.id }}" hidden>
                <img class="img-responsive img-circle img-sm" src="http://placehold.it/128x128" alt="Alt Text">
                <div class="input-group img-push">
                    <input name="text" type="text" class="form-control" placeholder="Press enter to post comment">
                    <span class="input-group-btn">
                        <button id="send-btn" class="btn btn-info">Send</button>
                    </span>
                </div>
            </form>
        {% else %}
            <a href="/login">Authorize</a> to comment
        {% endif %}
    </div>
</div>
{% endblock %}