{% extends "_layout.html" %}

{% block title %}
Search results - {{ query }}
{% endblock %}

{% block profile %}
{% if user %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ user.name }}! <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/users/{{ user.id }}">Profile</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Log out</a></li>
    </ul>
</li>
{% else %}
<li><a href="/register">Register</a></li>
<li><a href="/login">Login</a></li>
{% endif %}
{% endblock %}


{% block content %}
<form action="/search-posts" method="get">
    <div class="form-group" style="display: flex">
        <input name="query" type="text" class="form-control" id="navbar-search-input" placeholder="Search" value="{{ query }}">
        <select name="categoryId" id="category-select" class="form-control" style="max-width: 150px">
            <option value="0" {% if categoryId == 0 %}selected{% endif %}>All</option>
            {% for category in categories %}
            <option value="{{ category.id }}" {% if categoryId == category.id %}selected{% endif %}> {{ category.name }} </option>
            {% endfor %}
        </select>
        <button id="send-btn" type="submit" class="btn btn-info btn-flat">Search</button>
    </div>
</form>

{% for post in posts %}
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">{{ post.category.name }} -> <b><a href="/posts/{{ post.id }}">{{ post.title}}</a></b></h3>
        <div class="box-tools pull-right">
            <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_twitter"></a>
                <a class="a2a_button_vk"></a>
            </div>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
            <!-- AddToAny END -->
        </div>
    </div>
    <div class="box-body">
        {{ post.preview | raw }}
    </div>
    <div class="box-footer">
                <span class="pull-left text-muted">
                    {{ post.user.name }} at {{ post.date }}
                </span>
        <a href="/posts/{{ post.id }}" class="pull-right btn btn-success btn-xs">Continue reading...</a>
    </div>
</div>
{% else %}
<h3>Posts were not found</h3>
{% endfor %}
{% endblock %}